<div class="flex flex-col">
  <!-- Heading Section -->
<div class="mb-8 p-4 bg-gray-100 text-center rounded-lg">
  <p class="text-3xl font-cursive text-seaBlue-600">Welcome to Platonic Tales, have a good time!</p>
</div>

  <!-- Blog Post Section -->
<!-- Blog Post Section -->
<div class="flex flex-wrap gap-6">
  <div class="mb-2">
    <h1 class="text-3xl font-bold mb-2">It's Unpublished, Yet!</h1>
  </div>
  <% @tale_posts.each do |tale_post| %>
    <div class="w-full">
      <span class="absolute left-0 bottom-0 bg-gray-800 text-white text-xs p-1 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <%= tale_post.view_count %>
      </span>

      <h2 class="text-xl font-semibold mb-2">
        <%= link_to tale_post.title, tale_post_path(tale_post), class: "text-blue-500 hover:underline" %>
      </h2>
      <p class="text-base leading-relaxed">
        <%= truncate(tale_post.body, length: 200, omission: "...") %>
      </p>
    </div>
  <% end %>
</div>


    <!-- Footer Section -->
  <footer class="mt-auto bg-gray-100 text-white p-2 text-center text-sm">
    <p class="text-seaBlue-600">&copy; <%= Time.current.year %> Platonic Tales. All rights reserved.</p>
    <p class="mt-1 text-seaBlue-600">Drop a comment at: <a href="mailto:platonictales@gmail.com" class="text-seaBlue-600 hover:underline">platonictales@gmail.com</a></p>
  </footer>
</div>
