<div class="flex flex-col space-y-8">
  <!-- Heading -->
  <h1 class="text-3xl font-bold mb-4">
    <%= @tale_post.title %>
  </h1>

  <!-- Content -->
  <div class="prose max-w-none">
    <%= markdown(@tale_post.body) %>
  </div>
</div>
